*, *::before, *::after {
   box-sizing: border-box;
}

html, body {
   overflow-x: hidden;
}

body{
    font-family: "sensation", sans-serif !important;
}

.first-nav{
    background-color: #eee;
    border-bottom: 2px solid rgb(147, 48, 239);
}
a{
    font-weight: bold;
}

li{
    cursor: pointer;
}

.img-1, .img-2 {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
.img-1{
    border: 3px solid rgb(236, 144, 87);
}

.move-down{
    margin-top: 110px;
    transition: margin-top 0.5s;
}

.move-up{
    margin-top: 0;
    transition: margin-top 0.5s;
}
li:hover{
    color: rgb(42, 41, 41);
}

.fname {
    color: rgb(147, 48, 239);
}

.lname {
    color: rgb(236, 144, 87);
}


.data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #585858;
}

h1{
    color: rgb(147, 48, 239) !important;
    font-size: 72px !important;
    margin-bottom: 20px !important;

}

.line{
    border: 2px solid rgb(147, 48, 239);
    width: 8%;
    display: flex;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 60px;
}

.line-2{
    border: 2px solid rgb(147, 48, 239);
    width: 8%;
    display: flex;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 30px;
}
.skill{
    background-color: #f4f4f4;
    border-radius: 15px;
}
.fa-font-size{
    font-size: 50px;
    color: rgb(147, 48, 239);
}

.about-me{
    background-color: #eee;
}



.who{
    font-weight: bold;
}
.view {
    font-size: 20px;
    color: #585858;
}

.info{
    font-weight: bold;
    font-size: 20px;
}
.piece-of-data{
    font-size: 20px;
}

.download-resume-button{
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(147, 48, 239);
    outline: none;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 5px;
    transition: all 0.5s;
}

.download-resume-button:hover{
    outline: 2px solid rgb(147, 48, 239);
    background-color: #fff;
    color: rgb(147, 48, 239);
}

.bld{
    font-weight: bold;
}

.parent{
    background-color: #888888;
    border-radius: 5px;
    height: 10px;
    margin: 10px 0;
}

.html,.js,.react,.python,.django,.flask,.git,.postgres,.docker{
    height: 10px;
    background-color: rgb(147, 48, 239);
    border-radius: 5px 0 0 5px ;
}


.html {
    width: 95%;
}

.js{
    width: 90%;

}

.react{
    width: 85%;
}

.python{
    width: 95%;
}
.django{
    width: 85%;
}
.flask{
    width: 85%;
}
.git {
    width: 90%;
}
.postgres {
    width: 95%;
}
.docker{
    width: 80%;
}

.skill {
    box-shadow: 0 0 5px black;
    transition: all 0.5s;
}
.skill:hover{
    transform: scale(1.05);
}
li a{
    color: black;
    text-decoration: none;
}
/* Site footer */
footer{
    background-color: rgb(3, 38, 87);
}

.footer-brand .lname1{
    color: rgb(236, 144, 87) !important;
}
  .footer-brand .fname1,
  .footer-brand .lname1 {
    font-size: 1.5rem;

  }
  
  .footer-social .social-icon {
    color: #adb5bd;
    transition: color 0.3s;
  }
  .design{
    background-color: rgb(3, 38, 87);
  }
  .footer-social .social-icon:hover {
    color: #f8f9fa;
  }
  @media (max-width: 576px) {
    .footer-nav ul {
      justify-content: center;
    }
  }

@media (max-width: 760px) {
    h1{
        font-size: 50px !important;
    }
}

